input, select, textarea {
    width: 90%;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}


form > p {
    margin: 0;
}

input, textarea, select {
    color: #ededed;
    background-color: darkslategrey;
}

::placeholder{
    color: #ededed;
}

::disabled {
    background-color: #777;
}