input, select, textarea {
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}


form > p {
    margin: 0;
}

input, textarea, select {
    color: #ededed;
    background-image: url('../img/background.png');
}

::placeholder{
    color: #ededed;
}