h1, h2, h3,
h4, h5, h6 {
    font-family: 'Arvo', serif;
}

p, a, li, input, sub, select {
    font-family: 'Open Sans', sans-serif;
    font-size: auto;
    line-height: auto;
}

body {
    background-image: url('../img/background.png');
}

header {
    background-color: #ededed;
    border-radius: 0 0 100px 100px;
}

#title {
    border: none;
    margin: auto;
    text-align: center;
    width: 70%;
    background-image: url("img/logo.png");
}

.col {
    margin: 20px auto;
    width: 80%;
    padding: 15px 30px;
    background-color: darkslategrey;
    border-radius: 40px;
}

.col > section {
    margin: 10px 0;
    padding: 5px 5%;
    background-color:aliceblue;
    border-radius: 10px;
}

.row > .nav-data {
    width: 60%;
    display: inline-block;
}

.row#carmina {
    text-align: center;
}

@media screen and (max-width:720px) and (min-width: 0px) {
    .row > .nav-data {
        width: 100%;
        display: block;
        text-align: left;
    }
    
    .row.nav {
        text-align: center
    }
}

li {
    list-style-type: circle;
}